@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');



body{
    background-color: #f6e8d3;
}

*{
    margin: 0px 0px;
    padding: 0px 0px;
    box-sizing: border-box;
}
/* navbar */
header{
    background-color: #ffffff;
    padding: 7px 3px;
    box-shadow: #e1e3e0 0px 3px;
}
header nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    
    
}
header nav ul li{
    margin: 3px 10px;
}
header nav ul li a{
    text-decoration: none;
}
/* navbar end */

/* first section */

.container{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: 100vh;
    
}
.container img{
    width: 300px;
    height:300px;
    border-radius: 200px;
    border: black 12px solid;
}

.name{
    font-family: 'lavishly Yours',cursive;
    font-size: 70px;
    margin-bottom: 50px;
    border-bottom: black 1px solid;
}
.bio{
    font-family: 'Satisfy', cursive;
    font-size: 30px;
}

.story{
    margin: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    /* border: solid; */
    /* border-radius: 3px; */
    box-shadow: #e1e3e0 3px;
}
.little img{
    float: right;
}
.storytext{
    font-family: 'Satisfy', cursive;
    font-size: 25px;
    margin: 15px 15px;
    padding: 15px 15px;
}