@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');



body{
    background-color: #f6e8d3;
}

*{
    margin: 0px 0px;
    padding: 0px 0px;
    box-sizing: border-box;
}
/* navbar */
header{
    background-color: #ffffff;
    padding: 7px 3px;
    box-shadow: #e1e3e0 0px 3px;
}
header nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    
    
}
header nav ul li{
    margin: 3px 10px;
}
header nav ul li a{
    text-decoration: none;
    color: black;
    font-family: 'Satisfy', cursive;
}
header nav ul li a:hover{
    color: grey;
}
/* navbar end */

/* hero start */

.container{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: 90vh;
    
}
.container img{
    width: 300px;
    height:300px;
    border-radius: 200px;
    border: black 12px solid;
}

.name{
    font-family: 'lavishly Yours',cursive;
    font-size: 70px;
    margin-bottom: 50px;
    border-bottom: black 1px solid;
}
.bio{
    font-family: 'Satisfy', cursive;
    font-size: 30px;
}
/* hero complete */
/* storyline section */
.story{
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: #e1e3e0 3px;
}
/* heading */
.heading{
    margin: 60px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headingname{
    font-family: 'lavishly Yours',cursive;
    font-size: 70px;
    margin-bottom: 50px;
    border-bottom: black 1px solid;
}
.headingtext{
    margin-top: 10px;
    font-family: 'Satisfy', cursive;
    font-size: 30px;
    
}
/* story of childhood */
.little{
    border-top: black 1px solid;
    margin-top: 10px;
    border-bottom: black 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.little img{
    
    height: auto;
    width: 300px;
    margin-bottom: 30px;
    margin-top: 40px;
    border: black 20px solid;
    box-shadow:  #f6e8d3 15px 15px;
}
.polakimg{
    width: 300px;
    height: auto;
    margin-top: 30px;
    border: black 20px solid;
    padding-top: 10px;
    box-shadow: #f6e8d3 10px 10px;
}

.storytext{
    font-family: 'Satisfy', cursive;
    font-size: 25px;
    margin: 15px 15px;
    padding: 15px 15px;
}
.sixth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: none;
    border-bottom: none;
}

.breakteller{
    margin: 20px 12px;
    background-color: #f6e8d3;
    border: black 15px solid;
}